extends base
include _reviewCard

block content

  main.review-main

    h1.heading-title.heading-secondary.ma-bt-lg My Reviews

    //- .reviews-container
    //-   each review in tour.reviews
    //-     +reviewCard(review)
